hw1/.DS_Store
# Ignore everything
*

# But not these files...
!.gitignore
# README.md
# hw1/go_server/go-server-server-generated/go/api_default.go
# hw1/go_server/go-server-server-generated/go/routers.go
# hw1/java_servlet/AlbumApp/src/main/java/com/jenniek/*
# hw1/client1/src/main/java/com/jenniek/clienttest/*
hw1/client2/src/main/java/com/jenniek/clienttest/*
# hw1/java-client-generated/*
# hw1/test_results/*
# etc...

# ...even if they are in subdirectories
# !*/
